{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "inline-react-svg",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    [
      "transform-react-remove-prop-types",
      {
        "ignoreFilenames": ["node_modules"],
        "mode": "wrap"
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "include": ["proposal-object-rest-spread"]
          }
        ],
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          { "useESModules": true }
        ],
      ],
      "ignore": [
        "**/*.test.jsx",
        "**/stories.jsx"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "cjs",
            "include": ["proposal-object-rest-spread"]
          }
        ],
      ],
      "plugins": [
        "babel-plugin-add-module-exports",
        [
          "@babel/plugin-transform-runtime",
          { "useESModules": false }
        ]
      ],
      "ignore": [
        "**/*.test.jsx",
        "**/stories.jsx"
      ]
    }
  }
}
